[submodule "lints/aws-certlint"]
	path = lints/aws-certlint
	url = https://git.0x19e.net/security/aws-certlint.git
	branch = master
	ignore = untracked
[submodule "lints/gs-certlint"]
	path = lints/gs-certlint
	url = https://git.0x19e.net/security/gs-certlint.git
	branch = x19e-master
	ignore = untracked
[submodule "lints/ev-checker"]
	path = lints/ev-checker
	url = https://git.0x19e.net/security/ev-checker.git
	branch = master
	ignore = untracked
[submodule "lints/x509lint"]
	path = lints/x509lint
	url = https://git.0x19e.net/security/x509lint.git
	branch = x19e-master
	ignore = untracked
[submodule "lints/zlint"]
	path = lints/zlint
	url = https://git.0x19e.net/security/zmap-zlint.git
	branch = master
	ignore = untracked
